SLM.Application/Service References/CmtServiceProxy/CmtService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.kiatnakinbank.com/services/CMTService/CampaignByTeam" elementFormDefault="qualified" targetNamespace="www.kiatnakinbank.com/services/CMTService/CampaignByTeam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CampaignByTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="detail" type="tns:SearchByTeamEntity" />
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="tns:StatusResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SearchByTeamEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TeamName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampByTeams" type="tns:ArrayOfCampByTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCampByTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampByTeam" nillable="true" type="tns:CampByTeam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CampByTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignOffer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignCreiteria" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpireDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Channel" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignScore" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CampaignStatus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TeamName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalCustomerList" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SaleToolKitUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Result" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IntegrateSLM" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sla_Time" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="header" type="tns:Header" />
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="transaction_date" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="user_name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="service_name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="system_code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="reference_no" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>