SLM.Application/Service References/CmtServiceProxy/CmtService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CampaignByCustomers" elementFormDefault="qualified" targetNamespace="CampaignByCustomers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CampByCitizenIdBody" type="tns:ReqCampByCusEntity" />
  <xs:complexType name="ReqCampByCusEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CitizenId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequestDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Channel" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CampaignNum" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasOffered" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsInterested" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustomerFlag" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Command" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContractNo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>