SLM.Application/Service References/LeadServiceProxy/LeadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SLS.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SLS.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Encoding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Header" nillable="true" type="tns:Header" />
</xs:schema>